
body {
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
}




.number {
    margin-right: 10px;
    margin-bottom: -5px;
    font-size: 2.2em;
    height: 60px;
    width: 60px;
    display: inline-block;
}

.levers {
    background-image: url("/images/lamps_n_levers/Light_switch_off.png");
    background-repeat: no-repeat;
    background-size: 60px;
    margin-right: 10px;
    margin-bottom: -5px;
    font-size: 2.2em;
    height: 60px;
    width: 60px;
    display: inline-block;
}

.levers:hover {
    background-color: rgba(168, 168, 168, 0.5);
}


.activeLevers {
    background-image: url("/images/lamps_n_levers/Light_switch_on.png");
}

.activeLevers:hover {
    background-color: rgba(168, 168, 168, 0.5);
}

.row {
    display: inline-block;
    height: 60px;
    width: 60px;
    margin-bottom: -5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-image: url("/images/lamps_n_levers/Light_bulb_off.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
}

.active, .filled {
    background-size: 60px;
    background-color: yellow;
    background-image: url("/images/lamps_n_levers/Light_bulb_on.png");
}


.row:hover {
    background-color: grey;
    cursor: pointer;
}

#buttonNumber_1:hover, 
#buttonNumber_2:hover, 
#buttonNumber_3:hover, 
#buttonNumber_4:hover, 
#buttonNumber_5:hover, 
#buttonNumber_6:hover, 
#buttonNumber_7:hover {
    cursor: pointer;
}

#devmode {
    display: none;
}