<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Eric Jansson.<br><br>It uses data from mapbox.com and weatherstack.com!</p>
    </div>
    {{>footer}}
</body>

</html>