<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="">
    <link rel="stylesheet" href="./css/homepage/style.css">
</head>

<body>
    <div id="mainHeader"></div>
    <div id="mainHeader_navbar">
        <div id="mainHeader_navbar_options">
            <div id="mainHeader_navbar_optionsBlock">
                <div class="mainHeader_navbar_options">Home</div>
                <div class="mainHeader_navbar_options">Pages</div>
                <div class="mainHeader_navbar_options">Info</div>
                <div class="mainHeader_navbar_options">Data</div>
                <div class="mainHeader_navbar_options">About</div>
            </div>
        </div>
    </div>
    <div id="mainContent">
        <div></div>
        <div id="mainCont_imgField">
            <div class="mainCont_slidingImage_blocks">
                <div class="mainCont_slidingImages" id="mainCont_slidingImg1"></div>
                <div class="mainCont_slidingImages_gray" id="mainCont_slidingImg1_gray"></div>
            </div>
            <div class="mainCont_slidingImage_blocks">
                <div class="mainCont_slidingImages" id="mainCont_slidingImg2"></div>
                <div class="mainCont_slidingImages_gray" id="mainCont_slidingImg2_gray"></div>
            </div>
            <div class="mainCont_slidingImage_blocks">
                <div class="mainCont_slidingImages" id="mainCont_slidingImg3"></div>
                <div class="mainCont_slidingImages_gray" id="mainCont_slidingImg3_gray"></div>
            </div>
        </div>
        <div></div>
    </div>
    <script src="/scripts/homepage/script.js"></script>
</body>

</html>