<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/programmingIcon.png">
    <link rel="stylesheet" href="./css/homepage/hubpage.css">
</head>

<body>
    <div class="main-content">
        <h1>{{title}}</h1>
        <p>{{body}}</p>
        <br>
        <a href="/snake">Snake game</a>
        <br><br>
        <a href="/steam">Lookup Steam Users</a>
        <br><br>
        <a href="/tictactoe">Tic tac toe</a>
        <br><br>
        <a href="https://erja-dragon-warrior-monsters-2.herokuapp.com/">Dragon Warrior Monsters 2: Cobi's Journey - Game breeding guide</a>
        <br><br>
        <a href="/weatherapp">Weather App</a>
        <h3>Work in progress</h3>
        <div>
            <div>
                <a href="/pacman">Pacman</a>
                <a class="new_content">NEW!</a>
            </div>
            <br>
            <div>
                <a href="/learn_for_fun">Learn for fun</a>
            </div>
        </div>
        <br>
        <h3>Small projects</h3>
        <div>
            <div>
                <a href="/maze_solver">Maze solver</a>
            </div>
            <br><br>
            <div>
                <a href="/mouse_maze">Mouse maze</a>
            </div>
            <br><br>
            <div>
                <a href="/yatzy">Yatzy</a>
            </div>
            <br><br>
            <div>
                <a href="/lamps_n_levers">Lamps 'n Levers</a>
            </div>
        </div>
    </div>


    {{>footer}}

    <script src="/scripts/homepage/script.js"></script>
</body>

</html>