
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/lamps_n_levers/lamps_main_style.css">
    <title>Document</title>
</head>
<body>
    <div>
        <button onclick="presetCombination([0, 0, 1, 0, 1, 0], [2, 4, 6])">Preferred solution</button>
        <button onclick="resetField()">Reset</button>
        <br><br>
    </div>
    <div id="startLamps"></div>
    <br>
    <div id="board"></div>
    <div id="boardResults"></div>
    <script src="./scripts/lamps_n_levers/javascript.js"></script>
    <script src="./scripts/lamps_n_levers/scanResults.js"></script>
</body>
</html>
