<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/learn_for_fun/style.css">
    <link rel="stylesheet" href="./css/learn_for_fun/menu.css">
    <link rel="stylesheet" href="./css/learn_for_fun/main_content.css">
    <link rel="stylesheet" href="./css/learn_for_fun/overlay.css">
    <link rel="stylesheet" href="./css/learn_for_fun/edit_lesson.css">
    <title>Learn 4 fun</title>
</head>

<body>
    <div id="overlay_fade_effect"></div>
    <div id="overlay">
        <div id="overlay_block">
            <div id="overlay_content">
                <a id="overlay_content_action">Quit session</a>
                <a>Are you sure?</a>
                <div id="overlay_btns">
                    <button onclick="overlay_accept('end session')">Yes</button>
                    <button onclick="overlay_decline()">No</button>
                </div>
            </div>
        </div>
    </div>

    <div id="main_Header">Quiz Maker</div>
    <div id="start_menu">
        <button id="start_btn" onclick="startSession()">Start!</button>
        <br>
        <button class="start_menu_btns menu_mode_active" onclick="mode_select(1)">Mode 1</button>
        <button class="start_menu_btns" onclick="mode_select(2)">Mode 2</button>
        <br>
        <button class="start_menu_btns" onclick="toggle_listReview_menu('edit')">Review list</button>
    </div>

    <div id="edit_lesson">
        <div class="edit_lesson_exit">
            <button class="edit_lesson_go_back" onclick="toggle_listReview_menu('menu')">Go back</button>
            <br>
            <button onclick="show_create_item()">Make a new item</button>
            <br><br>
            <button onclick="delete_item_mode()">Remove an item</button>
        </div>
        <div id="lesson_list_block">
            <div class="lesson_lists" id="lesson_list_1">
                <div class="lesson_list_title">Beginner Japanese</div>
                <div class="lesson_list_description">Japanese vocabulary for beginners.</div>
            </div>
            <div class="lesson_lists" id="lesson_list_2">
                <div class="lesson_list_title">Math repetition</div>
                <div class="lesson_list_description">Preparation for university.</div>
            </div>
        </div>
        <div id="create_new_list_block">






            <div class="create_object_grid">
                <div class="edit_question_num">New question</div>
                <button id="create_new_question_cancel" onclick="new_question_cancel()">x</button>
                <div class="create_object_type">Question:</div>
                <div class="create_object_data">
                    <input class="edit_list_input_fields" id="create_question">
                </div>

                <div class="create_object_type">Answer:</div>
                <div class="create_object_data">
                    <input class="edit_list_input_fields" id="create_answer">
                </div>

                <div class="create_object_type">Alternate answer:</div>
                <div class="create_object_data">
                    <input class="edit_list_input_fields" id="create_alt_answer">
                </div>
                <div id="create_object_options_block">
                    <button onclick="create_item()">Add question</button>
                </div>
            </div>






        </div>
        <div id="display_session_data"></div>
    </div>

    <div id="main_content">
        <div id="main_top_content_grid">
            <div id="session_data">
                <div id="session_timer">someone</div>
                <div id="session_progress">disabled</div>
                <div id="session_success_rate">Javascript.</div>
            </div>
            <div id="question_block">Seems like</div>
            <div id="quit_session">
                <button onclick="display_overlay()">x</button>
            </div>
        </div>
        <div id="next_question_block">
            <div id="next_question_hide_toggle">
                <div id="next_question_correct">Correct!</div>
                <div id="next_question_wrong">Wrong</div>
                <button onclick="goToNextQuestion()">Next</button>
            </div>
            <div id="post_session_recap_btn">
                <div>You are done!</div>
                <button onclick="goToNextQuestion('end_session')">Go back</button>
            </div>
        </div>
        <div class="options_grid">
            <button onclick="selectOption(1)" id="optionBtn1" class="active_options selectable_options"></button>
            <button onclick="selectOption(2)" id="optionBtn2" class="active_options selectable_options"></button>
            <button onclick="selectOption(3)" id="optionBtn3" class="active_options selectable_options"></button>
            <button onclick="selectOption(4)" id="optionBtn4" class="active_options selectable_options"></button>
        </div>
    </div>

    <script src="./scripts/learn_for_fun/script.js"></script>
    <script src="./scripts/learn_for_fun/menu_script.js"></script>
    <script src="./scripts/learn_for_fun/session_script.js"></script>
    <script src="./scripts/learn_for_fun/overlay.js"></script>
    <script src="./scripts/learn_for_fun/edit_lesson.js"></script>
    <script src="./scripts/learn_for_fun/dev_mode.js"></script>
</body>

</html>