<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="stylesheet" href="./css/learn_for_fun/style.css">
    <link rel="stylesheet" href="./css/learn_for_fun/menu.css">
    <link rel="stylesheet" href="./css/learn_for_fun/active_session.css">
    <link rel="stylesheet" href="./css/learn_for_fun/overlay.css">
    <link rel="stylesheet" href="./css/learn_for_fun/edit_lesson.css">
    <title>Learn 4 fun</title>
</head>

<body>
    <div id="overlay_fade_effect"></div>
    <div id="overlay">
        <div id="overlay_block">
            <div id="overlay_content">
                <a id="overlay_content_action">Quit session</a>
                <a>Are you sure?</a>
                <div id="overlay_btns">
                    <button onclick="overlay_accept('end session')">Yes</button>
                    <button onclick="overlay_decline()">No</button>
                </div>
            </div>
        </div>
    </div>

    <div id="main_Header">Quiz Maker</div>
    <div id="start_menu">
        <button id="start_btn" onclick="startSession()">Start!</button>
        <br>
        <button class="start_menu_btns menu_mode_active" onclick="mode_select(1)">Normal Mode</button>
        <button class="start_menu_btns" onclick="mode_select(2)">Alternate Mode</button>
        <br>
        <button class="start_menu_btns" onclick="toggle_listReview_menu('edit')">Review lists</button>
    </div>

    <div id="edit_lesson">
        <div id="edit_lesson_grid">
            <div id="edit_lesson_lists">
                <div class="lesson_list_tabs inactive_list_tab" id="list_tab_3">Other</div>
                <div class="lesson_list_tabs inactive_list_tab" id="list_tab_2">Saved Lists</div>
                <div class="lesson_list_tabs" id="list_tab_1">My lists</div>
                <div id="lesson_list_block">
                    <div id="lesson_full_list">
                        <div class="lesson_lists" id="lesson_list_1">
                            <div class="lesson_list_title">Beginner Japanese</div>
                            <div class="lesson_list_description">Japanese vocabulary for beginners.</div>
                        </div>
                        <div class="lesson_lists" id="lesson_list_2">
                            <div class="lesson_list_title">Math repetition</div>
                            <div class="lesson_list_description">Preparation for university.</div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="edit_lesson_options">
                <div class="edit_lesson_exit">
                    <button class="edit_lesson_go_back" onclick="toggle_listReview_menu('menu')">Menu</button>
                    <br>
                    <button onclick="show_create_item()">Make a new item</button>
                    <br><br>
                    <button onclick="delete_item_mode()">Remove an item</button>
                </div>
            </div>


            <div id="edit_middle_grid_content">

                <div id="create_new_list_block">
                    <div class="create_object_grid">
                        <div class="edit_question_num">New question</div>
                        <button id="create_new_question_cancel" onclick="new_question_cancel()">x</button>
                        <div class="create_object_type">Question:</div>
                        <div class="create_object_data">
                            <input class="edit_list_input_fields" id="create_question">
                        </div>

                        <div class="create_object_type">Answer:</div>
                        <div class="create_object_data">
                            <input class="edit_list_input_fields" id="create_answer">
                        </div>

                        <div class="create_object_type">Alternate answer:</div>
                        <div class="create_object_data">
                            <input class="edit_list_input_fields" id="create_alt_answer">
                        </div>
                        <div id="create_object_options_block">
                            <button onclick="create_item()">Add question</button>
                        </div>
                    </div>
                </div>


                <div id="edit_lesson_table">
                    <div id="display_lesson_options">
                        <button id="display_list_mode_1" class="edit_list_mode_btns table_list_icon" onclick=""></button>
                        <button id="display_list_mode_2" class="edit_list_mode_btns card_list_icon display_list_clickable" onclick=""></button>
                    </div>
                    <div id="display_table_header"></div>
                    <div id="display_table_data"></div>
                    <div id="display_session_data"></div>
                </div>

            </div>

        </div>
    </div>

    <div id="main_content">
        <div id="main_top_content_grid">
            <div id="session_data">
                <div id="session_timer">someone</div>
                <div id="session_progress">disabled</div>
                <div id="session_success_rate">Javascript.</div>
            </div>
            <div id="question_block">Seems like</div>
            <div id="quit_session">
                <button onclick="display_overlay()">x</button>
            </div>
        </div>
        <div id="next_question_block">
            <div id="next_question_hide_toggle">
                <div id="next_question_correct">Correct!</div>
                <div id="next_question_wrong">Wrong</div>
                <button onclick="goToNextQuestion()">Next</button>
            </div>
            <div id="post_session_recap_btn">
                <div>You are done!</div>
                <button onclick="goToNextQuestion('end_session')">Go back</button>
            </div>
        </div>
        <div class="options_grid">
            <button onclick="selectOption(1)" id="optionBtn1" class="active_options selectable_options"></button>
            <button onclick="selectOption(2)" id="optionBtn2" class="active_options selectable_options"></button>
            <button onclick="selectOption(3)" id="optionBtn3" class="active_options selectable_options"></button>
            <button onclick="selectOption(4)" id="optionBtn4" class="active_options selectable_options"></button>
        </div>
    </div>

    <script src="./scripts/learn_for_fun/script.js"></script>
    <script src="./scripts/learn_for_fun/menu_script.js"></script>
    <script src="./scripts/learn_for_fun/session_script.js"></script>
    <script src="./scripts/learn_for_fun/overlay.js"></script>
    <script src="./scripts/learn_for_fun/edit_lesson.js"></script>
    <script src="./scripts/learn_for_fun/review_list_section.js"></script>
    <script src="./scripts/learn_for_fun/edit_table_lists.js"></script>
    <script src="./scripts/learn_for_fun/dev_mode.js"></script>
</body>

</html>