<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./css/pacman/pacman.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pacman</title>
</head>
<body>
    <div id="gameDetails">
        <div id="startOver">
            <button id="restartBtn" onclick="startNewGame()">Restart</button>
        </div>
        <div id="gameCoords"></div>
    </div>
    <div id="gameblock">
        <div id="gameOverlay"></div>
    </div>
    <div id="arrowKeyBlock">
        <div class="arrowKeys" style="border: none; background-color: white;"></div>
        <div class="arrowKeys" onclick="keyPressDirection(pacman, 'up');">/\</div>
        <div class="arrowKeys" style="border: none; background-color: white;"></div>
        <div class="arrowKeys" onclick="keyPressDirection(pacman, 'left');"><</div>
        <div class="arrowKeys" onclick="keyPressDirection(pacman, 'down');">V</div>
        <div class="arrowKeys" onclick="keyPressDirection(pacman, 'right');">></div>
    </div>
    <script src="./scripts/pacman/generateMap.js"></script>
    <script src="./scripts/pacman/component.js"></script>
    <script src="./scripts/pacman/controls.js"></script>
    <script src="./scripts/pacman/pacman.js"></script>
</body>
</html>