<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/weatherapp/weather-icon.png">
    <link rel="stylesheet" href="./css/weatherapp/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{body}}</p>
        <br>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <p id="weather-content-1"></p>
        <p id="weather-content-2"></p>
    </div>

    {{>footer}}

    <script src="/scripts/weatherapp/script.js"></script>
</body>

</html>