<footer>
    <b>Made by {{name}}</b>
    <br>
    <div>
        {{body}}<a href="https://partner.steamgames.com/" target="_blank">{{link}}</a>
        <br>
        <a style="padding-right: 10px;">Rapidall:</a>
        <a style="padding-right: 10px;" target="_blank" href="https://api.steampowered.com/ISteamUser/GetFriendList/v1/?key=4AB055F4351D22E1C36B75ECF5B347AF&steamid=76561198035585856"> Friendlist </a>
        <a style="padding-right: 10px;" target="_blank" href="http://api.steampowered.com/ISteamUser/GetPlayerSummaries/v0002/?key=4AB055F4351D22E1C36B75ECF5B347AF&steamids=76561198035585856"> PlayerSummary </a>
        <a style="padding-right: 10px;" target="_blank" href="https://api.steampowered.com/IPlayerService/GetRecentlyPlayedGames/v1/?key=4AB055F4351D22E1C36B75ECF5B347AF&steamid=76561198035585856"> RecentlyPlayed </a>
        <a style="padding-right: 10px;" target="_blank" href="http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=4AB055F4351D22E1C36B75ECF5B347AF&steamid=76561198035585856&include_appinfo=true&format=json&include_played_free_games=true"> GetOwnedGames </a>

    </div>
</footer>