
:root {
    --canvasW: 320px;
    --canvasH: 352px;
    --canvasTileSize: 64px;
}

body {
    background: #222222;
}

#gameblock {
    width: 0;
    margin: auto;
    margin-top: 10px;
}

#gameOverlay {
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin-left: calc(var(--canvasW) * -1);
    width: calc(var(--canvasW) * 2);
    height: calc(var(--canvasH) * 2);
    border: 1px solid black;
}

.overlayTile {
    box-shadow: inset 0 0 0 1px #343434;
    width: calc(var(--canvasTileSize));
    height: calc(var(--canvasTileSize));
    display: block;
}

.overlayTile:hover {
    background: #ffff0026;
}

#gameDetails {
    text-align: center;
    height: 108px;
}

#gameCoords {
    text-align: left;
    color: white;
    z-index: -1;
}

#restartBtn {
    padding: 10px 30px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 2em;
    background: #000000;
    color: #6b77ef;
    border: 4px solid #1928bf;
    border-radius: 10px;
}

#startOver {
    position: absolute;
    z-index: 1;
    width: 180px;
    margin-left: 40%;
}

#invinceBlock {
    font-size: 1.4em;
    margin-top: 6px;
    display: flex;
}

#invinceText {
    padding: 4px;
    color: white;
    font-weight: bold;
    font-family: arial;
}

#invinceBox {
    display: inline-block;
    border: 1px solid;
    width: 30px;
    height: 30px;
    font-family: arial;
    background: red;
    font-weight: bold;
}

#arrowKeyBlock {
    display: none;
    width: 320px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 400px;
    justify-content: center;
}

.arrowKeys {
    text-align: center;
    padding: 24px 0;
    width: 90px;
    margin: 6px;
    border: 1px solid black;
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 3em;
}


#myCanvas, #backgroundCanvas {
    position: absolute;
    display: block;
    margin-left: calc(var(--canvasW) * -1);
    width: calc(var(--canvasW) * 2);
}


@media only screen and (max-width: 700px) {
    :root { 
        --canvasW: calc(var(--canvasW) / 2);
        --canvasH: calc(var(--canvasH) / 2);
        --canvasTileSize: calc(var(--canvasTileSize) / 2);
    }
    #myCanvas, #backgroundCanvas {margin-left: -160px }
    #arrowKeyBlock { display: flex; }
}



/* 
    This is for uploaded site.
*/

#gameCoords {
    display: none;
}

#gameOverlay {
    display: none
}