#main_content {
  margin: 20px auto;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 70%;
  min-height: 500px;
  min-width: 600px;
  max-width: 750px;
  font-size: 1.4em;
  border: 1px solid black;
  background-color: white;
  display: none;
}

#main_top_content_grid {
  margin: 0px 35px;
  margin-top: 30px;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 20% 50% 20%;
}

#session_data {
  min-height: 110px;
}

#session_data div {
  display: block;
}

#session_timer {
  
}

/*
#session_timer, #session_progress, #session_success_rate {
  border: 1px solid rgba(148, 148, 148, 0.4);
}
*/

#session_progress {
  margin-top: 10px;
}

#session_success_rate {
  margin-top: 10px;
}

#question_block {
  background-color: rgb(228 228 228);
  text-align: center;
  padding: 0 20px;
  min-height: 150px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quit_session {
  text-align: right;
}

#quit_session button {
  cursor: pointer;
  width: 50px;
  height: 40px;
  box-shadow: 2px 2px 5px -1px black;
}

#next_question_block {
  margin: auto;
  text-align: center;
  width: fit-content;
  height: 60px;
}

#next_question_hide_toggle {
  position: relative;
  display: none;
}

#next_question_hide_toggle button {
  cursor: pointer;
}

#post_session_recap_btn {
  display: none;
}

#post_session_recap_btn button {
  box-shadow: 2px 2px 5px -1px black;
}

#next_question_correct {
  font-weight: bold;
  color: green;
}

#next_question_wrong {
  color: red;
}

#next_question_block button {
  font-size: 1em;
  cursor: pointer;
}

.options_grid {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
}

.correct_answer {
  background: rgba(13, 197, 13, 0.6);
}

.wrong_answer {
  background: rgba(197, 13, 13, 0.6);
}

.selectable_options {
  background: #bbe6f3;
  box-shadow: 0px 3px 10px black;
  border: 1px solid;
  border-radius: 25px;
  padding: 20px;
  height: 200px;
  max-width: 300px;
  text-align: center;
  justify-content: center;
  margin: 20px;
  display: flex;
  align-items: center;
  font-size: 1em;
}

.active_options:hover {
  cursor: pointer;
  background-color: rgba(228, 228, 70, 0.5);
}












@media only screen and (max-width: 640px) {
  #main_content {
    margin-top: 0;
    padding-bottom: 40px;
    width: unset;
    min-width: unset;
  }
  #main_top_content_grid {
    grid-template-columns: auto auto;
    margin: 0px 10px;
    margin-top: 10px;
  }
  #question_block {
    grid-column: span 2;
    min-height: 100px;
  }
  #quit_session {
    grid-row: 1;
    grid-column: 2;
  }

  .selectable_options {
    padding: 10px;
    margin: 0;
    height: 160px;
    font-size: 0.8em;
  }

  .options_grid {
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin-top: 20px;
  }
  #session_data {
    min-height: 80px;
  }
  #session_progress {
    margin-top: 0px;
  }

  #session_success_rate {
    margin-top: 0px;
  }

  #next_question_block {
    margin: 10px auto;
  }
}