

#edit_lesson {
    margin-top: 100px;
    display: none;
}

#edit_lesson_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 150px;
}

#edit_lesson_lists {
    margin-top: 24px;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}

#lesson_list_block {
    height: fit-content;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    margin: 30px auto;
    min-width: 205px;
    z-index: 2;

}

.lesson_list_tabs {
    border-radius: 10px 10px 0 0;
    height: 17px;
    min-width: 46px;
    padding: 6px 8px;
    background: white;
    z-index: 1;
    border: 2px solid black;
    border-bottom: none;
    font-weight: bold;
    display: inline-block;
    position: absolute;
}

.inactive_list_tab:hover {
    background-color: yellow;
}

.inactive_list_tab {
    background: #afafaf;
    padding: 4px 8px;
    margin-top: 5px;
    cursor: pointer;
    z-index: -1;
}

#list_tab_1 {
    margin-left: 6px;
}

#list_tab_2 {
    margin-left: 76px;
    min-width: 89px;
}

#list_tab_3 {
    margin-left: 178px;
}

#edit_lesson_options {
    height: fit-content;
    grid-column: 3;
    grid-row: 1;
    border: 1px solid black;
    background-color: white;
    padding: 20px 0;
    width: 150px;
    margin: 25px auto;
}

#edit_lesson_table {
    grid-column: 2;
    padding: 20px 15px;
    border: 1px solid black;
    max-width: 700px;
    background-color: white;
    margin: 25px 10px;
    min-height: 500px;
}

#display_table_header {
    margin-bottom: 20px;
    text-align: center;
    font-family: serif;
}

#display_table_header div:nth-child(1) {
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
}

#display_table_data {
    display: grid;
    grid-template-columns: auto calc(50% - 30px) calc(50% - 30px);
    justify-content: center;
}

#testing_div {
    padding: 4px;
    height: 16px;
    width: fit-content;
    margin-top: -22px;
    margin-left: auto;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}

.table_item_first {
    border: none;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.table_item_header, #table_question {
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-left: none;
    text-align: center;
}

.table_item_num {
    padding: 10px;
    font-weight: bold;
    border: 1px solid black;
    border-top: none;
    text-align: center;
}

.table_items {
    padding: 8px;
    border: 1px solid black;
    border-top: none;
    border-left: none;
}

#mode_select_id {
    border: 2px solid black;
    font-size: 1em;
    font-weight: bold;
    width: auto;
}

#mode_select_id option {
    width: fit-content;
    font-weight: bold;
}

/* Create item */

#create_new_list_block {
    display: none;
    grid-column: 2;
    grid-row: 1;
    margin-top: 25px;
}

#create_new_question_cancel {
    grid-column: 3;
    width: 50px;
    justify-self: end;
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px black;
}

.create_object_grid {
    margin: auto 10px;
    background: white;
    padding: 20px;
    border: 1px solid;
    display: grid;
    max-width: 600px;
    grid-template-columns: 140px auto 50px;
    column-gap: 4px;
    row-gap: 10px;
}

.create_object_type {
    height: 25px;
    font-weight: bold;
    grid-column: 1;
    text-align: right;
}

.create_object_data {
    grid-column: 2;
    text-align: left;
}

#create_object_options_block {
    grid-column: span 3;
    text-align: center;
}

#create_object_options_block button {
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px black;
}

.edit_lesson_exit {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    width: fit-content;
}

.edit_lesson_exit button {
    box-shadow: 2px 2px 4px -1px black;
    cursor: pointer;
}


#lesson_full_lists {
    height: 100px;
    margin-bottom: 20px;
}

.lesson_lists {
    font-family: serif;
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 6px;
    min-width: 180px;
    max-width: 280px;
    box-shadow: 2px 2px 4px -1px black;
}

.lesson_list_title {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.lesson_list_description {
    font-size: 0.9em;
    cursor: pointer;
}

.lesson_list_active {
    background: #64c9e075;
}







.edit_lesson_go_back {
    font-size: 1.6em;
    padding: 10px;
    margin-bottom: 20px;
}


.create_new_item_hidden {
    display: none;
}

#display_lesson_options {
    position: absolute;
}







.edit_list_mode_btns {
    width: 30px;
    height: 30px;
    background-size: 31px;
    box-shadow: inset 0 0 9px 0px rgb(123 255 249);
    border: none;
    cursor: default;
}

.table_list_icon {
    background-image: url("/images/learn_for_fun_img/select_list.jpg");
}

.card_list_icon {
    background-image: url("/images/learn_for_fun_img/select_card_list.jpg");
}

.display_list_clickable {
    box-shadow: 2px 2px 6px 0px black;
}

.display_list_clickable:hover {
    box-shadow: inset 0 0 10px #0095ff;
    cursor: pointer;
}










#display_session_data {
    display: none;
    text-align: center;
}


#display_session_header {
    text-align: center;
    font-family: serif;
}

#display_session_header div:nth-child(1) {
    margin-bottom: 10px;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: underline;
}

#display_session_header div:nth-child(2) {
    margin-bottom: 15px;
}

.edit_object_grid {
    margin: auto auto 30px auto;
    padding: 6px;
    padding-bottom: 10px;
    border: 1px solid;
    display: grid;
    max-width: 600px;
    grid-template-columns: 140px 40px auto;
    column-gap: 4px;
    row-gap: 10px;
}

.edit_question_num {
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}

.edit_object_type {
    height: 25px;
    font-weight: bold;
    grid-column: 1;
    text-align: right;
}

.edit_object_data {
    grid-column: 3;
    text-align: left;
}

.delete_item_btns {
    grid-column: 3;
    width: 50px;
    justify-self: end;
    display: none;
    box-shadow: 2px 2px 4px -1px black;
}

.edit_list_input_fields {
    width: 80%;
}




.edit_all_edit_btns {
    grid-column: 2;
}

.edit_all_edit_btns button {
    box-shadow: 2px 2px 4px -1px black;
    cursor: pointer;
}

.edit_btns {
    width: 19px;
    height: 19px;
    background-size: 20px;
    border: none;
    cursor: pointer;
}

.edit_btn_edit {
    background-image: url("/images/learn_for_fun_img/edit_logo.jpg");
}

.edit_btn_edit:hover {
    box-shadow: inset 0 0 10px #0095ff;
}


.edit_btn_accept_question, .edit_btn_accept_answer, .edit_btn_accept_alt_answer {
    display: none;
    background-image: url("/images/learn_for_fun_img/accept_logo.jpg");
}

.edit_btn_accept_question:hover, .edit_btn_accept_answer:hover, .edit_btn_accept_alt_answer:hover {
    box-shadow: inset 0 0 10px #fbff008a;
}

.edit_btn_decline_question, .edit_btn_decline_answer, .edit_btn_decline_alt_answer {
    display: none;
    background-image: url("/images/learn_for_fun_img/decline_logo.jpg");
}
    
.edit_btn_decline_question:hover, .edit_btn_decline_answer:hover, .edit_btn_decline_alt_answer:hover {
    box-shadow: inset 0 0 10px #ff0000;
}
















@media only screen and (max-width: 1000px) {
    #edit_lesson {
        margin-top: 0px;
    }
    #edit_lesson_grid {
        justify-content: space-between;
        grid-template-columns: auto 200px;
        max-width: 732px;
        margin: auto;
    }
    #edit_lesson_options {
        grid-column: 2;
        grid-row: 1;
        margin: 25px 10px 25px auto;
    }
    #edit_lesson_lists {
        grid-column: 1; 
        grid-row: 1;
        margin-top: 25px;
        margin-left: 10px;
        height: auto;
    }
    .lesson_lists {
        max-width: 400px;
    }
    #edit_middle_grid_content {
        grid-column: span 2;
    }
    #display_table_data {
        grid-template-columns: auto calc(50% - 30px) calc(50% - 30px);
    }
}




@media only screen and (max-width: 640px) {
    #edit_lesson_lists {
        width: unset;
        margin: 0 auto;
    }
    .lesson_lists {
        margin-top: 0;
    }

    #edit_lesson_grid { 
        grid-template-columns: 100%;
        min-width: 300px;
    }
    #edit_lesson_options {
        grid-column: 1;
        grid-row: 1;
        width: calc(100% - 20px);
    }
    #edit_lesson_lists {
        grid-column: 1; 
        grid-row: 2; 
        width: calc(100% - 20px);
    }
    #edit_middle_grid_content {
        grid-column: 1;
    }
    .edit_object_grid {
        grid-template-columns: 80px 40px auto;
        padding-bottom: 20px;
    }
    .edit_object_type {
        font-size: 0.8em;
    }
    
    .grid_item_header {
        text-align: left;
    }
    .grid_item_num {
        padding: 8px 4px;
    }
    
    #display_table_data {
        margin-top: 20px;
        display: grid;
        grid-template-columns: auto calc(50% - 10px) calc(50% - 10px);
    }
    #display_lesson_options {
        display: inline-grid;
    }
}
