

#edit_lesson {
    margin-top: 100px;
    display: none;
}

#edit_lesson_grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-bottom: 150px;
}

#edit_lesson_lists {
    grid-column: 1;
    grid-row: 1;
    height: fit-content;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    width: 240px;
    margin: 25px auto;
}

#edit_lesson_options {
    height: fit-content;
    grid-column: 3;
    grid-row: 1;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    width: 150px;
    margin: 25px auto;
}

#edit_middle_grid_content {

}

#edit_lesson_items {
    grid-column: 2;
    padding: 20px 15px;
    border: 1px solid black;
    max-width: 700px;
    background-color: white;
    margin: 25px 10px;
}


/* Create item */

#create_new_list_block {
    display: none;
    grid-column: 2;
    grid-row: 1;
    margin-top: 25px;
}

#create_new_question_cancel {
    grid-column: 3;
    width: 50px;
    justify-self: end;
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px black;
}

.create_object_grid {
    margin: auto 10px;
    background: white;
    padding: 20px;
    border: 1px solid;
    display: grid;
    max-width: 600px;
    grid-template-columns: 140px auto 50px;
    column-gap: 4px;
    row-gap: 10px;
}

.create_object_type {
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    grid-column: 1;
    text-align: right;
}

.create_object_data {
    grid-column: 2;
    text-align: left;
}

#create_object_options_block {
    grid-column: span 3;
    text-align: center;
}

#create_object_options_block button {
    cursor: pointer;
    box-shadow: 2px 2px 4px -1px black;
}

.edit_lesson_exit {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    width: fit-content;
}

.edit_lesson_exit button {
    box-shadow: 2px 2px 4px -1px black;
    cursor: pointer;
}


#lesson_list_block {
    height: 100px;
    margin-bottom: 20px;
}

.lesson_lists {
    border: 1px solid black;
    padding: 3px;
    margin-bottom: 6px;
    box-shadow: 2px 2px 4px -1px black;
}

.lesson_list_title {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.lesson_list_description {
    font-size: 0.9em;
    cursor: pointer;
}

.edit_lesson_go_back {
    font-size: 1.6em;
    padding: 10px;
    margin-bottom: 20px;
}


.create_new_item_hidden {
    display: none;
}




#display_session_data {
    text-align: center;
}

.edit_object_grid {
    margin: auto auto 30px auto;
    padding: 6px;
    padding-bottom: 10px;
    border: 1px solid;
    display: grid;
    max-width: 600px;
    grid-template-columns: 140px 40px auto;
    column-gap: 4px;
    row-gap: 10px;
}

.edit_question_num {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
}

.edit_object_type {
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    grid-column: 1;
    text-align: right;
}

.edit_object_data {
    grid-column: 3;
    text-align: left;
}

.delete_item_btns {
    grid-column: 3;
    width: 50px;
    justify-self: end;
    display: none;
    box-shadow: 2px 2px 4px -1px black;
}

.edit_list_input_fields {
    width: 80%;
}




.edit_all_edit_btns {
    grid-column: 2;
}

.edit_all_edit_btns button {
    box-shadow: 2px 2px 4px -1px black;
    cursor: pointer;
}

.edit_btns {
    width: 19px;
    height: 19px;
    background-size: 20px;
    border: none;
    cursor: pointer;
}

.edit_btn_edit {
    background-image: url("/images/learn_for_fun_img/edit_logo.jpg");
}

.edit_btn_edit:hover {
    box-shadow: inset 0 0 10px #0095ff;
}


.edit_btn_accept_question, .edit_btn_accept_answer, .edit_btn_accept_alt_answer {
    display: none;
    background-image: url("/images/learn_for_fun_img/accept_logo.jpg");
}

.edit_btn_accept_question:hover, .edit_btn_accept_answer:hover, .edit_btn_accept_alt_answer:hover {
    box-shadow: inset 0 0 10px #fbff008a;
}

.edit_btn_decline_question, .edit_btn_decline_answer, .edit_btn_decline_alt_answer {
    display: none;
    background-image: url("/images/learn_for_fun_img/decline_logo.jpg");
}
    
.edit_btn_decline_question:hover, .edit_btn_decline_answer:hover, .edit_btn_decline_alt_answer:hover {
    box-shadow: inset 0 0 10px #ff0000;
}
















@media only screen and (max-width: 1000px) {
    #edit_lesson {
        margin-top: 0px;
    }
    #edit_lesson_grid { 
        grid-template-columns: auto auto; 
    }
    #edit_lesson_options {
        grid-column: 2;
        grid-row: 1;
    }
    #edit_lesson_lists {
        grid-column: 1; 
        grid-row: 1; 
        
        width: 300px;
        margin-right: 50px;
        height: auto;
    }
    #edit_middle_grid_content {
        grid-column: span 2;
    }
}




@media only screen and (max-width: 640px) {
    #edit_lesson_lists {
        width: unset;
        margin: 0 auto;
    }
    #edit_lesson_items {
        width: unset;
    }
    .lesson_lists {
        margin-top: 0;
        width: fit-content;
    }

    #edit_lesson_grid { 
        grid-template-columns: auto; 
    }
    #edit_lesson_options {
        grid-column: 1;
        grid-row: 1;
        width: calc(90% - 20px);
    }
    #edit_lesson_lists {
        grid-column: 1; 
        grid-row: 2; 
        width: calc(90% - 20px);
    }
    #edit_middle_grid_content {
        grid-column: 1;
    }
    .edit_object_grid {
        grid-template-columns: 80px 40px auto;
        padding-bottom: 20px;
    }
    .edit_object_type {
        font-size: 0.8em;
    }
}
