
#start_menu {
  width: auto;
  text-align: center;
  padding: 20px;
  min-width: 200px;
  max-width: 400px;
  margin: 30px auto 0 auto;
  border: 1px solid;
  background-color: white;
}

#start_btn {
  padding: 50px;
  margin: 10px;
  font-size: 2em;
  box-shadow: 2px 2px 5px 0px black;
  cursor: pointer;
}

.start_menu_btns {
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 4px -1px black;
  cursor: pointer;
}

.menu_mode_active {
    background-color: rgba(255, 174, 0, 0.5);
}