
#overlay_fade_effect, #overlay {
  display: none;
}

#overlay_fade_effect {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #00000085;
  position: fixed;
}

#overlay {
  z-index: 10;
  left: 0;
  width: 100%;
  position: absolute;
}

#overlay_block {
  background: white;
  border: 1px solid black;
  max-width: 350px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  position: initial;
  box-shadow: 3px 3px 25px 0px #1b1b1b;
}

#overlay_content {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#overlay_content_action {
  margin: 20px;
  font-size: 2em;
  font-weight: bold;
}

#overlay_content a {
  display: block;
}

#overlay_btns {
  width: 160px;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

#overlay_btns button {
  margin-top: 10px;
  font-size: 2em;
  box-shadow: 2px 2px 4px 0px black;
}