
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/tictactoe/tictactoeStart3.png">
    <link rel="stylesheet" type="text/css" href="/css/tictactoe/aboutStyle.css">
        <title>Tre i rad - Om</title>

<!--                        Header                      -->

        <header>
            <div class="header">
                <a id="headerLink" href="./home">Tre i rad</a>
            </div>
        </header>    
</head>

<body>
    <div id="allLanguages">
        <img id="langSelected" src="/images/tictactoe/swedishFlagSelected.png">
        <img id="lang" src="/images/tictactoe/brittishFlag.png" onclick="window.location.href = '/tictactoe/about';">
    </div>

<!--                Text above playing field            -->

<div id="centerpiece">
    <div id="textHeader"> Om </div>
    <div id="fullText">

        <div class="subHeader">Projektets avsikt</div>
        Det här är det första riktiga programmerings-projektet jag gjort.
        Anledningen till att jag gjorde det här spelet var för att utveckla mina programmerings kunskaper.
        På samma gång så fick jag göra ett projekt jag tyckte var kul och givande.
        Huvud ideen var att göra ett "Tre i rad" spel mot datorn och jag skulle säga det målet uppnådes ganska bra.
        Jag säger "ganska" för att det fanns många saker jag kunnat gjort bättre.
            <br>

        <div class="subHeader">Vad jag kunnat gjort bättre</div>
        Den här delen skulle kunna vara full av text på olika lösningar och saker jag kunnat lägga till i spelet.
        Men jag håller det kort för att få fram det viktigaste och dela med mig av vad jag tycker.<br>
        Det första är att jag kunde gjort mycket mindre "hbs" filer och istället ändrat dom med hjälp av Javascript.
        Då hade jag kunnat stanna på 3-4 filer istället för 10+.
        Det här gäller också mina "css" och "script" filer.<br>
        Jag tror också att första sidan är lite tråkig och framför allt knapparna.
        Jag gillar bilden som byts fram och tillbaka men knapparna är lite otydliga och inte särskilt användarvänliga.
        Det här hade kunnats lösts med färg ändring och lite animationer.<br>
        Designen på sidan är inte väl igenomtänkt.
        Jag tror att om jag från början valt en färgpalett så det sett bättre ut.
        Det är också oklart med mina knappar och rutor eftersom dom är spettsiga ibland och avrundade ibland.<br><br>
        Mycket av det här är något jag inte hade en tanke på innan. Så jag kommer försöka lära mig av dom problem jag stött på till nästa gång.

        <br><br>
    </div>
</div>

<script src=""></script>
</body>
</html>

