
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/tictactoe/tictactoeStart3.png">
    <link rel="stylesheet" type="text/css" href="/css/tictactoe/aboutStyle.css">
        <title>Tic Tac Toe - About</title>

<!--                        Header                      -->

        <header>
            <div class="header">
                <a id="headerLink" href="./home">Tic Tac Toe</a>
            </div>
        </header>    
</head>

<body>
    <div id="allLanguages">
        <img id="lang" src="/images/tictactoe/swedishFlagSelected.png" onclick="window.location.href = '/tictactoe/aboutSvenska';">
        <img id="langSelected" src="/images/tictactoe/brittishFlag.png">
    </div>

<!--                Text above playing field            -->

<div id="centerpiece">
    <div id="textHeader"> About </div>
    <div id="fullText">

        <div class="subHeader">Project purpose</div>
        This game is the first real programming-project I've ever done. 
        It's purpose was for me to learn as much as possible while doing a project I thought would be fun to complete.
        The main idea was to make a "Tic tac toe" game against a computer and I think that goal was mainly completed. 
        I say "mainly completed" because there are things that could've been done better. 
                <br>

        <div class="subHeader">What I could've done better</div>
        This section could be filled with text on different solutions or things I could add to the game. 
        But I will keep it somewhat short and share thoughts. <br>
        The first thing is that I could've reused hbs files and changing them with Javascript instead of making a ton of files.
        This applies to my "css" and "script" files aswell. <br>
        I also believe the frontpage buttons look kind of boring. 
        I like the image fading but I don't feel like the buttons are being presented in a clear way.
        This could be solved with some color changes and minor animations.<br>
        The design is all over the place. 
        I think if I used decided on a color palette it would have made things look better.
        Also the buttons and boxes are either rounded or spiky with no real consistency.<br><br>
        A lot of these problems are something I didn't expect from the start. 
        So I will keep this in mind when I go through my next project.
        

        <br><br>
        <br><br>
    </div>
</div>

<script src=""></script>
</body>
</html>

