
<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/images/tictactoe/tictactoeStart3.png">
    <link rel="stylesheet" type="text/css" href="./css/tictactoe/indexStyle.css">
        <title>Tic Tac Toe - Home</title>

<!--                        Header                      -->

        <header>
            <div class="header">
                <a id="headerLink" href="./tictactoe">Tic Tac Toe</a>
            </div>
        </header>    
</head>

<body>
    <div id="allLanguages">
        <img id="lang" src="./images/tictactoe/swedishFlag.png" onclick="window.location.href = './tictactoe/home';">
        <img id="langSelected" src="./images/tictactoe/brittishFlagSelected.png">
    </div>

<!--                Text above playing field            -->
    <div id="centerImages">
        <img id="image3red" src="./images/tictactoe/tictactoeStart3.png">
        <img id="image2blue" src="./images/tictactoe/tictactoeStart2.png">
        <img id="image1green" src="./images/tictactoe/tictactoeStart1.png">
    </div>

<div id="centerpiece">
    <div id="bigBtn1" class="fullBtnMenu">
        <button id="btnMenu1" class="allBigBtns" onclick="pveBtn()">Player VS Computer</button><br>
        <button id="testbtn1" class="pVScSubBtns" onclick="window.location.href = './tictactoe/tictactoeVSaiEasy';">Easy mode</button><br>
        <button id="testbtn2" class="pVScSubBtns" onclick="window.location.href = './tictactoe/tictactoeVSaiHard';">Hard mode</button><br>
        <button id="testbtn3" class="pVScSubBtns" onclick="window.location.href = './tictactoe/tictactoeVSaiUnbeatable';">Unbeatable</button>
    </div>

    <div id="bigBtn2" class="fullBtnMenu">
        <button id="btnMenu2" class="allBigBtns" onclick="window.location.href = './tictactoe/tictactoeMultiplayer';">Player VS Player</button>
    </div>

    <div id="bigBtn3" class="fullBtnMenu">
        <button id="btnMenu3" class="allBigBtns" onclick="window.location.href = './tictactoe/about';">About</button>
    </div>
</div>

<script src="./scripts/tictactoe/indexJavascript.js"></script>
</body>
</html>

